/* Propriétés générales

            +

Initialisation de la grille pour disposer le Titre + corps du CV
   ----------------------------------------------------------------  */



body{
    box-sizing: border-box;
    font-family: "Montserrat", "Sans-Serif";
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    
    color: #212121;
    background-color: #ECEFF1;

    display: grid;
    grid-template-areas:
        "photo header header"
        "nav   main   main";

    grid-template-columns: 28% 1fr;
    grid-template-rows: 250px 1fr;
}

h1, h2, h3{
    text-transform: uppercase;

}

/* Propriétés sidebar */

.fig-maphoto{
    grid-area: photo;
    background-color: #42A5F5;

    margin: 0;

    text-align: center;
    padding: 45px 0 25px;
}

.fig-maphoto img{
    filter: drop-shadow(0 0 2px rgb(58, 17, 58));
}

.fig-maphoto figcaption{
    display: none;
}

.sidebar{
    grid-area: nav;

    width: 100%;
    background-color: #42A5F5;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sidebar p{
    text-align: justify;
    margin: 30px;
}

.sidebar .fig-maphoto{
    text-align: center;
    margin: 45px 0;
}

.sidebar_titre{
    background-color: #424242;
    color: #42A5F5;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: center;
    padding: 2px 0;
}

.sidebar-contact span{
    font-weight: 600;
    color: black;
}

.sidebar-aproposdemoi{
    flex: 1;
}

.sidebar-loisirs__icones{
    display: flex;
    justify-content: space-around;
    margin: 30px 45px 30px;
}
.sidebar-loisirs__icones i{

    min-width: 60px;
    min-height: 60px;
    border: 3px solid #212121;
    border-radius: 50%;
    line-height: 1.5em;

    color: #212121;
    margin: 9px;
    font-weight: 600;
    font-size: 2.6em;
}

.sidebar-loisirs__icones .fa-atom{
    display: none;
}



/* Propriétés du corps du CV */

.moi{
    grid-area: header;
    margin: 80px 0 0 7%;
}

.moi__prenomnom{
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
    font-weight: lighter;

}

.moi__prenomnom b{
    color: #42A5F5;
    text-transform: uppercase;
    font-weight: 500;
}

.moi__statutpro{
    font-size: 1.7em;
    margin: 0;
}

.moi__statutpro span{
    border-bottom: 1px solid #42A5F5;
}

.corpsCV{
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 7%;
    margin-right: 5%;

}

.corpsCV_titre{
    border-bottom: 2px solid #42A5F5;
    padding-bottom: 5px;
    margin: 25px 0;

}


.corpsCV i{
    color: #42A5F5;
    margin-right: 15px;
}

.formation{
    margin-bottom: 25px;
}

.bloc_info{
    display: flex;
}

.bloc_info-date_lieu{
    width: 35%;
    position: relative;
}

.bullet{
    position: absolute;
    left: -20px;
    color: #42A5F5;
}
.bullet2{ 
    position: absolute;
    left: -20px;
    top: -13px;
    color: #42A5F5;
    font-size: 2em;
}

.bloc_info-bloc_paragraphe{
    width: 70%;
    min-width: 350px;
}

.bloc_info-bloc_paragraphe p{
    margin: 10px 0;
    letter-spacing: 1px;
}

.bloc_info-bloc_paragraphe span{
    border-bottom: 1px solid #42A5F5;
}

.experience_pro{
    margin-bottom: 30px;
}

.bloc_references{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.bloc_references-references{
    display: flex;
    justify-content: space-between;
}

.bloc_references-references p{
    line-height: 1.1em;
}

.references__ref1{
    margin-right: 10px;
    max-width: 50%;
}

.references__ref2{
    padding-left: 20px;
    max-width: 50%;
}




/* RESPONSIVE DESIGN PROPERTIES START */



/* -----------------------------------------------------------  -------------                   RESPONSIVE TABLETTE
   ------------------------------------------------------------------------ */



@media screen and (max-width: 920px) and (min-width: 615px){
    body{
        grid-template-areas:
        "photo header"
        "main   main "
        "nav    nav  ";

        grid-template-columns: 28% 1fr;
        grid-template-rows: 9% auto;
    }

    .corpsCV{
        margin: 0 5%;
    }

    .fig-maphoto{
        padding-top: 25px;
        background-color: #42A5F5;
    }
    .moi{
        grid-area: header;
        margin: 0;
        padding-top: 56px;
        padding-left: 39px;
        background-color: #42A5F5;
    }

    .moi__prenomnom b{
        color: #ECEFF1;
    }

    .moi__statutpro span{
        border-bottom: 1px solid #ECEFF1;
    }

    .references__ref1{
        width: 45%;
        text-align: center;
    }

    .references__ref2{
        width: 45%;
        text-align: center;
    }

    .sidebar{
        display: flex;
        flex-flow: row wrap;
    }

    .sidebar-contact{
        min-width: 50%;
        display: flex;
        flex-direction: column;
    }

    .sidebar-contact p{
        text-align: center;
        margin: 20px 0;
    }

    .sidebar-aproposdemoi{
        min-width: 50%;
    }

    .sidebar-aproposdemoi p{
        margin: 0;
        padding: 30px;
        border-left: 1px solid black;
    }

    .sidebar-loisirs{
        flex: 1;
    }

    .sidebar-loisirs__icones .fa-atom{
    display:inline-block;
    }

}

/* ------------------------------------------------------------------------                RESPONSIVE MOBILE LARGE SCREEN
   ------------------------------------------------------------------------ */


@media screen and (max-width:614px){
    body{
        grid-template-areas:
        "header"
        "photo"
        "main"
        "nav";

    grid-template-columns: auto;
    grid-template-rows: 5% auto;
    }

    .corpsCV{
        margin: 0 5%;
        text-align: center;
    }

    .moi{
        margin: 0;
        padding-top: 34px;
        background-color: #42A5F5;
    }

    .moi{
        text-align: center;
    }

    .moi__prenomnom b{
        color: #ECEFF1;
    }

    .moi__statutpro span{
    border-bottom: 1px solid #ECEFF1;
    }


    .fig-maphoto{
        padding: 20px 0 20px 0;
    }

    .sidebar-loisirs__icones .fa-atom{
        display:none;
    }

    .corpsCV_titre{

        margin: 20px 25px;
    }

    .formation, .experience_pro{
        display: flex;
        flex-direction: column;
    }

    .bloc_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .bloc_info_titre span{
        border: 0;
    }

    .bloc_info-bloc_paragraphe{
        width: 100%;
    }

    .bloc_info_titre{
        margin: 13px 0;
    }

    .bloc_info-date_lieu{
        width: 100%;
        margin-bottom: 0;
    }

    .bullet, .bullet2{
        display: none;
    }

    .bloc_references-references{
        flex-direction: column;

    }

    .references__ref1, .references__ref2{
        padding: 2px;
        margin-bottom: 20px;
        line-height: .6;
        width: 100%;
        max-width: 100%;
        text-align: center;

    }

    .sidebar-contact p{
        text-align: center;
    }
}

/* ------------------------------------------------------------------------                RESPONSIVE MOBILE MEDIEUM/SMALL SCREEN
   ------------------------------------------------------------------------ */


@media screen and (max-width:385px){
    body{
        font-size: .8em;
    }
}


