/* Propriétés générales */
:root {
    --contrast-color: #42a5f5;
}

/*
    Initialisation de la grille pour disposer le Titre + corps du CV
   ----------------------------------------------------------------  */
body {
    box-sizing: border-box;
    font-family: "Montserrat", "Sans-Serif";
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    color: #212121;
    background-color: #eceff1;

    display: grid;
    grid-template-areas:
        "nav header header"
        "nav   main   main";

    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows: 200px auto;
}

a {
    color: #000000;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

/* Propriétés sidebar */

.fig-maphoto {
    grid-area: photo;
    background-color: #42a5f5;
    margin: 0;
    text-align: center;
    padding: 20px 0 25px;
    box-shadow: 0px 5px 5px black;
}

.fig-maphoto img {
    filter: drop-shadow(0 0 2px rgb(58, 17, 58));
    border-radius: 50% 50%;
}

.fig-maphoto figcaption {
    display: none;
}

.sidebar {
    grid-area: nav;

    width: 100%;
    background-color: #42a5f5;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0px 5px 5px 0 black;
}

.sidebar_titre {
    margin: 0;
}

.sidebar-link {
    color: #000000;
}

.sidebar p {
    text-align: justify;
    margin: 1em;
}

.sidebar .fig-maphoto {
    text-align: center;
    margin: 45px 0;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar_titre {
    background-color: #424242;
    color: #42a5f5;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: center;
    padding: 2px 0;

    box-shadow: 0 0 4px black;
}

.sidebar-contact span {
    font-weight: 600;
    color: black;
}

.sidebar-about p {
    line-height: 1.5rem;
}

.sidebar-hardSkills ul li {
    line-height: 1.5em;
}

.sidebar-softSkills ul {
    line-height: 2em;
}

.sidebar-icones {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 0;
}

.sidebar-icones_group {
    display: flex;
    justify-content: space-around;
}

.sidebar-icones_group:nth-child(2) i {
    text-align: center;
}

.sidebar-icones_group > * {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 60px;
    border: 3px solid #212121;
    border-radius: 50%;
    color: #212121;
    margin: 9px;
    font-weight: 600;
    font-size: 2.3em;
    flex-basis: 60px;
}

.sidebar-icones_group i:before {
    line-height: 1.7em;
}

.circle {
    display: flex;
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border: 3px solid #212121;
    border-radius: 50% 50%;
    margin: 9px;
}

/* Propriétés du corps du CV */

.moi {
    grid-area: header;
    margin: 50px 0 0 7%;
}

.moi__prenomnom {
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
    font-weight: lighter;
}

.moi__prenomnom b {
    color: #42a5f5;
    text-transform: uppercase;
    font-weight: 500;
}

.moi__statutpro {
    font-size: 1.7em;
    margin: 0;
}

.moi__statutpro span {
    border-bottom: 1px solid #42a5f5;
}

.corpsCV {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 7%;
    margin-right: 5%;
}

.corpsCV_titre {
    border-bottom: 2px solid #42a5f5;
    padding-bottom: 5px;
    /* margin: 25px 0; */
}

.corpsCV i {
    color: #42a5f5;
    margin-right: 15px;
}

.formation {
    margin-bottom: 25px;
}

.bloc_info {
    display: flex;
}

.bloc_info-date_lieu {
    width: 35%;
    position: relative;
}

.bullet {
    position: absolute;
    left: -20px;
    color: #42a5f5;
}
.bullet2 {
    position: absolute;
    left: -20px;
    top: -13px;
    color: #42a5f5;
    font-size: 2em;
}

.bloc_info-bloc_paragraphe {
    width: 70%;
    min-width: 350px;
}

.bloc_info-bloc_paragraphe p {
    margin: 10px 0;
    letter-spacing: 1px;
}

.bloc_info-bloc_paragraphe span {
    border-bottom: 1px solid #42a5f5;
}

.experience_pro {
    margin-bottom: 30px;
}

.bloc_projets {
    display: flex;
}

.bloc_projet ul {
    list-style-type: none;
    padding-left: 0;
}

.bloc_projet ul li {
    margin: 10px 0;
    font-weight: bold;
    position: relative;
}

.bloc_info ul li ul{
    padding-left: 0;
}

.bloc_projet ul li::before {
    content: "\2022";
    position: absolute;
    left: -20px;
    top: -13px;
    color: #42a5f5;
    font-size: 2em;
}

.project-description {
    padding: 0 15px;
}

/* RESPONSIVE DESIGN PROPERTIES START */

/* ------- RESPONSIVE TABLETTE ---------------- */

@media screen and (max-width: 920px) {
    /* Propriétés générales */
    :root {
        list-style-position: inside;
    }
}

@media screen and (max-width: 920px) and (min-width: 615px) {
    body {
        grid-template-areas:
            "header  header"
            "main  main "
            " nav  nav   ";

        grid-template-columns: 28% 1fr;
        grid-template-rows: 9% auto;
    }

    .corpsCV {
        margin: 0 5%;
    }

    .fig-maphoto {
        padding-top: 25px;
        background-color: #42a5f5;
        box-shadow: 0 0 0;
    }

    .moi {
        grid-area: header;
        margin: 0;
        padding-top: 56px;
        padding-left: 39px;
        padding-bottom: 15px;
        background-color: #42a5f5;
    }

    .moi__prenomnom b {
        color: #eceff1;
    }

    .moi__statutpro span {
        border-bottom: 1px solid #eceff1;
    }

    .sidebar {
        grid-area: nav;
        flex-flow: row wrap;
        justify-content: stretch;
        align-content: flex-start;
    }

    .sidebar h2 {
        margin: 0;
    }

    .sidebar_titre {
        box-shadow: 0 0 0;
    }

    .sidebar-section {
        justify-content: flex-start;
        flex-basis: 49%;
        flex-grow: 1;
        border-right: 1px solid black;
    }

    .sidebar-contact p {
        text-align: center;
    }

    .sidebar-about p {
        margin: 0;
        padding: 30px;
    }
}

/* -----  RESPONSIVE MOBILE LARGE SCREEN  ------ */

@media screen and (max-width: 614px) {
    body {
        grid-template-areas:
            "header"
            /* "photo" */
            "main"
            "nav";

        grid-template-columns: auto;
        grid-template-rows: 5% auto;
    }

    .corpsCV {
        margin: 0 5%;
        text-align: center;
    }

    .moi {
        margin: 0;
        padding-top: 34px;
        padding-bottom: 15px;
        background-color: #42a5f5;
    }

    .moi {
        text-align: center;
    }

    .moi__prenomnom b {
        color: #eceff1;
    }

    .moi__statutpro span {
        border-bottom: 1px solid #eceff1;
    }

    .fig-maphoto {
        padding: 20px 0 20px 0;
    }

    .corpsCV_titre {
        margin: 20px 25px;
    }

    .formation,
    .experience_pro {
        display: flex;
        flex-direction: column;
    }

    .bloc_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .bloc_info_titre span {
        border: 0;
    }

    .bloc_info-bloc_paragraphe {
        width: 100%;
    }

    .bloc_info_titre {
        margin: 13px 0;
    }

    .bloc_info-date_lieu {
        width: 100%;
        margin-bottom: 0;
    }

    .bullet,
    .bullet2 {
        display: none;
    }

    .sidebar-contact p {
        text-align: center;
    }

    .sidebar-section {
        padding: 10px;
    }
}

/* ----------------- RESPONSIVE MOBILE MEDIUM/SMALL SCREEN -------------- */

@media screen and (max-width: 385px) {
    body {
        font-size: 1em;
    }

    .sidebar p {
        color: black;
    }

    .sidebar-loisirs__icones i {
        font-size: 3em;
    }
}
