.small-underline{
    position: relative;
    display: inline-block;
}

.small-underline::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 70px;
    height: 1px;
    background-color: var(--contrast-color);
}

@media screen and (max-width: 920px){
    .small-underline-header.small-underline::before{
        display: none;
    }
}